<div class='messages'>
  <div class="messages-loader"></div>
  <div class='messages--container'>
    {{#if isFewUsers}}
      <div class="no-users-message">
        Add a user to the chat
      </div>
    {{else}}
      {{#each messages}}
        {{{ Message user=../user message=this }}}
      {{/each}}
    {{/if}}
  </div>
</div>
