<div class='messages messages--hidden'>
  <div class="messages-loader"></div>
  <div class='messages--container'>
    <div class='message-datetime'>
      14 December
    </div>
    {{#each (messages)}}
      {{> Message}}
    {{/each}}
  </div>
</div>
