<div class="container-modal">
  <div class='container-modal__logo'>
    {{> Logo }}
  </div>
  {{#> Modal title="Login" }}
    {{#> FormAuth }}
      {{{ Field type="text" name="login" label="Login" ref="login" validate=validators.login }}}
      {{{ Field type="password" name="password" label="Password" ref="password" validate=validators.password }}}
      <div class='container-modal__buttons'>
        {{{ Button buttonType="submit" onClick=onLogin label="Sign in" type="primary"}}}
        {{{ Button label="Registration" type="link" page="register" }}}
      </div>
    {{/FormAuth}}
  {{/Modal}}
</div>
