{{#> Form formName="formAvatar" }}
  {{{ UploadFile ref='avatar' message="Download the file" name="avatar" label="Select file" }}}
  <div class='container-modal__buttons'>
    {{{ Button label="Change" type="primary" buttonType="submit" }}}
  </div>
{{/Form}}
