<div class="container-modal">
  <div class='container-modal__logo'>
    {{> Logo }}
  </div>
  {{#> Modal title="Registration" }}
    {{{ FormRegistration ref="form" onRegister=onRegister }}}
  {{/Modal}}
</div>
