<div class="settingsPreview">
  <button class='settingsPreview__image' title='Change avatar'>
    <img width='72px' height='72px' src={{#if image}}{{image}}{{else}}preview.svg{{/if}} alt='preview' />
  </button>
  <div class='settingsPreview__name'>
    {{name}}
  </div>
</div>
