.dialog {
  display: flex;
  padding: 8px 12px 9px;
  align-items: self-start;
  gap: 10px;
  align-self: stretch;
  border-top: 1px solid #fff;
  background: linear-gradient(
    270deg,
    rgba(238, 238, 238, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  position: relative;
  cursor: default;
  user-select: none;
}
.dialog:last-child {
  border-bottom: 1px solid #fff;
}
.dialog__avatar {
  display: flex;
}
.dialog__body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.dialog__name {
  padding-right: 45px;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.dialog__time {
  position: absolute;
  right: -1px;
  top: 2px;
  color: rgba(77, 77, 77, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dialog__message {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dialog__count {
  border-radius: 37px;
  background: var(--main-color);
  position: absolute;
  right: 11px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}
.dialog__count--visible {
  display: flex;
}
.dialog--active {
  border-color: white;
  background: white;
}
.dialog:hover:not(.dialog--active){
  opacity: 0.8;
}
