<div class='error'>
  <div class='error__logo'>
    {{> Logo }}
  </div>
  <div class='error__code'>
    {{code}}
  </div>
  <div class='error__message'>
    {{message}}
  </div>
  <button page='dialog' class='error__link'>
    <img page='dialog' src='back.svg' alt='back'>
    <span page='dialog'>Back to chats</span>
  </button>
</div>
