<div class='error'>
  <div class='error__logo'>
    {{> Logo }}
  </div>
  <div class='error__code'>
    {{code}}
  </div>
  <div class='error__message'>
    {{message}}
  </div>
  <button class='error__link' onclick='location.href="/"'>
    <img src='back.svg' alt='back'>
    <span>Back to chats</span>
  </button>
</div>
