<button
  id='buttonSend'
  type='{{buttonType}}'
  form='{{formNAme}}'
  class='message-control__send-btn'
>
  <svg
    class='hover-disabled'
    width='80'
    height='50'
    viewBox='0 0 80 50'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <rect x='0.363159' width='80' height='50' rx='25' fill='#027DE7' />
    <path
      d='M57.8632 25L42.8632 16.3397L42.8632 33.6603L57.8632 25ZM22.8632 26.5L44.3632 26.5L44.3632 23.5L22.8632 23.5L22.8632 26.5Z'
      fill='white'
    />
  </svg>
</button>