<div class="container-chats">
  {{{ Side close=true }}}
  <div class='container-chats__content container-chats__content--top'>
    {{#> Settings title="Change data" }}
      {{{ FormProfile ref="form" user=user onSave=onSave }}}
    {{/Settings}}
  </div>
</div>
