<div class="modal modal--{{type}}">
  <div class='modal__header hover-disabled'>
    <div class='modal__title'>
      {{title}}
    </div>
  </div>
  <div class='modal__body'>
    {{> @partial-block }}
  </div>
</div>
