<div class='field {{#if error}}field--error{{/if}}'>
  <label class='field__label'>{{label}}</label>
  {{{ Input onBlur=onBlur ref="input" name=name type=type }}}
  {{{ ErrorLine ref="errorLine" className="field__error" error=error }}}
</div>
