<div class='container-chats'>
  {{{Side user=user chats=chats onHandler=onHandler ref='side'}}}
  {{{Chat user=user ref='chat' onModal=onModal}}}
  {{{ModalAddUser ref='modalAddUser'}}}
  {{{ModalRemoveUser ref='modalRemoveUser'}}}
</div>
