<div class="container-chats">
  {{{ Side chats=chats onHandler=onHandler ref="side" }}}
  {{{ Chat ref="chat" onModal=onModal }}}
  {{{ ModalAddUser ref="modalAddUser" }}}
  {{{ ModalRemoveUser ref="modalRemoveUser" }}}
</div>
