<div class="settingsEditElement">
  <div class='settingsEditElement__label'>
    {{label}}
  </div>
  <div class='settingsEditElement__input'>
    {{{ Input onBlur=onBlur ref="input" type=type name=name value=value }}}
    <div class='settingsEditElement__error'>
      {{{ ErrorLine ref="errorLine" }}}
    </div>
  </div>
</div>
