<div>
  {{#if modalVisible}}
    <div class='modal__background'>
      {{#> Modal type="default" title="Add User" }}
        {{{ FormCreate ref="form" onCreate=onCreate}}}
      {{/Modal}}
    </div>
  {{/if}}
</div>
