<div>
  {{#if modalVisible}}
    <div class='modal__background'>
      {{#> Modal type="default" title="Add User" }}
        {{{ FormOneField btnText="Add" label="Login" validator=validator ref="form" onSend=onSend}}}
      {{/Modal}}
    </div>
  {{/if}}
</div>
