<div class="container-chats">
  {{{ Side close=true }}}
  <div class='container-chats__content container-chats__content--top'>
    {{#> Settings title="Change password" }}
      {{{ FormPassword ref="form" onSave=onSave}}}
    {{/Settings}}
  </div>
</div>
