<div class="container-chats">
  {{> Side close=true }}
  <div class='container-chats__content container-chats__content--top'>
    {{#> Settings title="Change data" }}
      {{#> FormAuth }}
        {{> SettingsEditElement type="password" label="Old password" value="12345678" }}
        {{> SettingsEditElement type="password" label="New password" value="12345678" }}
        {{> SettingsEditElement type="password" label="Repeat the new password" value="12345678" }}
        <div class='settings__buttons'>
          {{> Button label="Register" type="primary" page="profile" }}
          {{> Button label="Sign in" type="link" page="profile" }}
        </div>
      {{/FormAuth}}
    {{/Settings}}
  </div>
</div>
