.container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 60px;
  flex-direction: column;
}

.container-modal__logo {
  margin-bottom: 61px;
}

.container-modal__buttons {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
