.settings {
  display: flex;
  width: 510px;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;
}

.settings__background {
  position: fixed;
  inset: 0;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: rgb(77 77 77 / 76%);
}

.settings__header {
  padding: 13px 10px 11px;
  width: 100%;
  background: var(--background-gray);
}

.settings__title {
  display: flex;
  padding: 7px 0 6px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--black);
  color: var(--black);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.settings__body {
  width: 100%;
  padding: 0 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.settings form {
  padding-top: 40px;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.settings__links {
  margin-top: 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.settings__links > *:last-child > * {
  color: var(--red);
}

.settings__buttons {
  margin-top: 50px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
