{{#> Form formName="formCreate" }}
  {{{ Field ref="login" type="text" name="login" label="Login" validate=validators.login }}}
  <div class='container-modal__buttons'>
    {{{ ErrorLine className="form-error" ref="errorLine" }}}
    {{{ Button label="Add" type="primary" buttonType="submit" }}}
  </div>
{{/Form}}
