<div class='side {{#if close}}side--close{{/if}}'>
  <div class='side__header'>
    <button class='side__logo-btn hover-disabled'>
      <img width='67px' height='21px' src='logoSmall.png' alt='logo'>
    </button>
    {{{ ButtonProfile image=avatar }}}
  </div>
  <div class='side__body'>
    {{{ ButtonMessenger }}}
    <div class='side__search'>
      {{{ Input ref="search" type='search' name='search' placeholder='Search' }}}
    </div>
    <div class='side__dialogs'>
      {{#each chats}}
        {{{ Dialog id=this.id
                   active=this.active
                   avatar=this.avatar
                   time=this.time
                   name=this.name
                   message=this.message
                   count=this.count
                   onHandler=../onHandler
        }}}
      {{/each}}
    </div>
  </div>
</div>
