@import '/src/components/modal/modal.css';
@import '/src/components/field/field.css';
@import '/src/components/button/button.css';
@import '/src/components/cat-card/cat-card.css';
@import '/src/components/form-auth/form-auth.css';
@import '/src/components/input/input.css';
@import '/src/components/list-cats/list-cat.css';
@import '/src/pages/login/login.css';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Monda, sans-serif;
  color: var(--black);
}

.hover-disabled{
  pointer-events: none;
  user-select: none;
  draggable: false;
}

:root {
  --main-color: #027de7;
  --border: #d1d1d1;
  --border-blue: #5bb3ff;
  --background-blue: #f0f8ff;
  --black: #4d4d4d;
  --black-light: rgba(77, 77, 77, 0.8);
  --red: #e22828;
  --second-color: #e4edfd;
  --error-color: #ff2f2f;
  --text-color: #1e1e1e;
  --text-secondary-color: #999;
}
