<div class="settings">
  <div class='settings__header hover-disabled'>
    <div class='settings__title'>
      {{title}}
    </div>
  </div>
  <div class='settings__body'>
    {{> @partial-block }}
  </div>
</div>
